[Desktop Entry]
Version=1.0
Type=Application

Name=Mastodon Live Feeder
Comment=Follow a public live feed on Mastodon
Categories=Network;Internet;

Icon=com.github.kristof-houwen.mastodon-live-feed
Exec=com.github.kristof-houwen.mastodon-live-feed
Terminal=false
